#tab_container {
position: relative;
width:1000px; /* width of page container */
margin:0 auto;
text-align:left;
padding: 0px;
background-color:#00FF33; / * color of page background - light yellow */
border-bottom-color:#FFF; /* color of page - white */
}
#tab_menu {
border-bottom: 1px solid #0000FF; /* same as border of main container */
margin: 0px 0px 0px 0px;
padding: 2px;
z-index: 1; /* stack order of items */
padding-left: 10px;
}

#tab_menu li {
display: inline;
overflow: hidden;
list-style-type: none;
}

#tab_menu a, a.active {
color: #000; /* black text for all tabs */
background: #0000FF; /* gray background of tabs */
font: bold 1em Arial, sans-serif;
border: 2px solid #003300; /* same as border of main container */
padding: 2px 5px 0px 5px;
margin: 0;
text-decoration: none;
}

#tab_menu a.active {
background: #FFF; /* white background of active tab */
border-bottom: 2px solid #FFF; /* white bottom border of active tab */
}